# Enable the runtime rewriting engine. Requires `mod_rewrite`.
RewriteEngine On

# Base path to be omitted.
# RewriteBase "/"

# Force HTTPS; except for Let's Encrypt checks.
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{REQUEST_URI} !^/\.well\-known/
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Redirect all other domains configured to be served by this code to the main domain.
RewriteCond %{HTTP_HOST} !^example.com$ [NC]
RewriteRule ^(.*)$ https://example.com/ [R=301,L]

# Hide (and prevent access to) the `.git` directory.
Redirect 404 /.git


# 3 methods for clean URLs…

# METHOD 1 =========================================================================================

# # Don't redirect existing files, directories and symbolic links.
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-l
#
# # Redirect all URLs to `index.php`.
# # [QSA]: Keep the query string.
# # [L]: Stop processing the rule set here.
# RewriteRule . index.php [QSA,L]


# METHOD 2 =========================================================================================

# # Serve directly only the following:
# RewriteCond %{REQUEST_URI} !^/static/
# RewriteCond %{REQUEST_URI} !^/sitemap.xml$
#
# # Handle everything else via `index.php`.
# # [QSA]: Keep the query string.
# # [L]: Stop processing the rule set here.
# RewriteRule . index.php [QSA,L]


# METHOD 3 =========================================================================================

# # Redirect all URLs to `index.php`.
# FallbackResource index.php
