# Define coding styles for editors.
#
# Doc: https://editorconfig.org/#file-format-details
# Ref: https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties


# Stop looking for other `.editorconfig` files in parent folders.
root = true


# DEFAULT VALUES
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true


# CSV FILES (for tab-separated files)
[*.{csv,tsv}]
indent_size = 50    # Large columns for readability
indent_style = tab  # Used as column separator

# DIFF FILES
[*.{diff,patch}]
indent_size = 4
trim_trailing_whitespace = false

# INI FILES (and Python setuptools config)
[{*.ini,setup.cfg}]
indent_size = 4

# MAKEFILES
[Makefile]
indent_size = 4
indent_style = tab

# MARKDOWN
[*.{md,mdx}]
indent_size = 4
trim_trailing_whitespace = false

# MINIFIED FILES (should NOT/NEVER be changed!)
[**.min.{css,html,js}]
indent_style = ignore
insert_final_newline = ignore

# PYTHON
[*.py]
indent_size = 4

# RESTRUCTUREDTEXT
[*.rst]
indent_size = 4

# TOML
[*.toml]
indent_size = 4  # As usually in Python projects
